
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-container,
.options-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"],
form button {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid green;
    border-radius: 10px;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

p {
    margin-top: 50px;
    color: #333;
}

.container h3 {
    color: #333;
    margin-bottom: 10px;
}

.options-container button {
    margin-right: 10px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.options-container button:hover {
    background-color: #0056b3;
}

.options-container {
    display: flex;
    justify-content: center;
}

.options-container button {
    margin: 0 10px;
}
